---
import "../styles/global.css";
import Chat from "../components/chat.tsx";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Cesarfolio</title>
	</head>
	<body class="bg-black w-screen h-screen relative">
        <main class="text-white tracking-widest w-4/5 max-md:w-full max-md:p-10 h-full p-20">
            <Chat client:load />
        </main>
	</body>
</html>

<style>

    @font-face {
        font-family: "Terminal";
        src: url("../assets/Terminal.ttf") format("truetype");
    }

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Terminal', sans-serif;
		color: white;
	}
</style>
